
/* mobile */

nav {
    position:absolute;
    left:0;top:0;
    width:100%;
    height:100px;
    background-color: #333;
}

nav img {
    width: 90px;
    height: 74px;
    left: 50%;
    margin-left: -35px;
    top: 10px;
}

nav div#menu-btn {
    position: absolute;
    display: block;
    top:20px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

nav ul#menu-desktop {
    display: none;   
}

nav ul#menu-mobile {
    margin-top:70px;
    padding: 0;
}

nav ul#menu-mobile li {
    display: block;
    width: 100%;
    list-style-type: none;
}

nav ul#menu-mobile li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    background-color: rgb(71, 27, 230);
    padding: 20px 0;
    border-bottom: 1px solid #111;
    font-family: 'Finger Paint', cursive;
    font-size: 80%;
    letter-spacing: 0.6;
} 

header {
    height: 320px;
    margin-top: 70px;
    font-family: 'Finger Paint', cursive;
}
header h1 {
    font-size: 200%;
    padding-top: 10%;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 7px #333;
}
.separator{
    display: none;
}

article{

    padding-top: 50px;
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}


 /* Footer */
 
.footer{ 
    border-top: solid rgb(19, 18, 18);
    border-width: 1px;
    background: rgb(248, 245, 245); 
    display:block;
    position: relative;
    width:100%; 
    height:200px; 
}

.footer_bottom {
    position: absolute;
    top: 175px;
    right: 20px;
    text-align: center;
    color: rgb(19, 18, 18);
    font-size: 15px;
    font-family: 'Finger Paint', cursive;
}

#img-footer{
    position: absolute;
    height: 100px;
    left: 15px;
    bottom:50px;
}
.social{
    float: right;
    margin: 80px 80px;
    display: flex;
}
.fab{
    color: rgba(19, 16, 16, 0.993);
}
.fab:hover{
    color: rgb(163, 6, 155);
    transition: color .4s ease-out;
}

                
