*{
    margin: 0;
}
main{
    width: 100%;
    height: 450px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.1); 
    border-bottom: solid rgb(252, 247, 248);
    border-width: 1px;
}  

nav img {
    position: absolute;
    height: 120px;
    left: 10px;
    top:5px;
    z-index: 1;
}

nav ul#menu-desktop {
    margin:0;
    padding:0;
    text-align: right;
}

nav ul#menu-desktop li {
    list-style-type:none;
    display: inline;
}

nav ul#menu-desktop li a {
    padding: 30px 40px;
    text-decoration: none;
    color:#FFF;
    display: inline-block;
    margin-right: -3px;
    font-family: 'Finger Paint', cursive;
    font-size: 80%;
    letter-spacing: 0.60
}

nav ul#menu-desktop li a:hover {
    background-color: rgb(163, 6, 155);
}

nav ul#menu-mobile, nav div#menu-btn {
    display: none;
} 

.jq-back-to-top {
    bottom: 20px;
    color: rgb(100, 3, 95);
    cursor: pointer;
    position: fixed;
    right: 20px;
    z-index: 1;
}

header {
    width: 100%;
  /*  min-height: 630px;*/
    margin: 0 auto;
   /* background-color: black; */
    font-family: 'Finger Paint', cursive;

   /* IMG RESPONSIVA
    background-image: url(../_img/frontend-1200x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
     */
} 
header h1 {
    font-size: 400%;
    color: #FFF;
    text-align: center;
    padding-top: 10%;
    text-shadow: 0 0 7px #333;
}

header h2{
    font-size: 300%;
    color: #FFF;
    text-align: center;
    padding-top: 0;
    text-shadow: 0 0 7px #333;
}
.separator{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 1px;
    position: relative;
    width: 650px;
    display: block;
}
.separator.small.center{
margin:5px 343px 5px;
}

article{

    padding-top: 50px;
    color: #424242;
    font-family: Lato;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
}


 /* Footer */
 
.footer{ 
    border-top: solid rgb(19, 18, 18);
    border-width: 1px;
    background: rgb(255,255,255); 
    display:block;
    position: absolute;
    width:100%; 
    height:290px; 
}
/*
.footer_bottom{
    background-color: #333;
    line-height: 50px;
    bottom:0;
}
*/
.footer_bottom {
    position: absolute;
    top: 200px;
    right: 400px;
    text-align: center;
    color: rgb(19, 18, 18);
    font-size: 15px;
    font-family: 'Finger Paint', cursive;
    
}


#img-footer{
    position: absolute;
    height: 100px;
    left: 600px;
    top:13px;
}
.social{
    float: right;
    margin: 135px 670px;
    display: flex;
}
.fab{
    color: rgba(19, 16, 16, 0.993);
}
.fab:hover{
    color: rgb(163, 6, 155);
    transition: color .4s ease-out;
}
